<html>
<head>
  <title>memex.link</title>
  <script src="redirect.js">
  <script>
    // redirect to https://memex.link/id/url
    redirect({{url}},{{selector}})
  </script>
</head>
<body>
  <h1>You're being redirected to a quote:</h1>
  <p>
    {{title}}
  <p>
    "{{quote}}"
  </p>
  <p>
    {{url}}
  </p>
  <p>Create your own quote links, anywhere on the web</p>
  <div>logo</div>
  <p>Bookmarking made for great thinkers</p>
</body>
</html>
